.menu-btn {
    display: none;
}

/* Style för hamburgemeny */
@media only screen and (max-width: 815px) {
    .menu-btn {
        display: flex;
        align-items: center;
        background-color: var(--secondary-color);
        padding: 8px 15px;
        border: black solid 2px;
        cursor: pointer;
        position: absolute; 
        top: 3em; /* Litet avstånd från toppen */
        right: 0.2em; /* Litet avstånd från högerkanten */
    }

    .open {
        margin: 0 1em;
    }

    .menu-btn:hover {
        background-color: white;
    }

    .menu-icon {
        margin-right: 10px;
    }

    .bars {
        display: block;
        width: 20px;
        height: 3px;
        background-color: black;
        margin: 5px 0;
    }

    .menu-text {
        font-size: 1.2em;
        color: black;
    }

    .close {
        margin: 1em 1.5em;
        padding: 10px 15px;
    }

    .cross1 {
        width: 25px;
        transform: rotate(45deg);
        /* Roterar till lodräta streck så vi får ett kryss */
        position: relative;
        top: 5px;
    }

    .cross2 {
        width: 25px;
        transform: rotate(135deg);
        /* Roterar till lodräta streck så vi får ett kryss */
        position: relative;
        top: -3px;
    }

    #nav-menu {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        /* Menyn tar upp 50% av bredden */
        height: 100%;
        /* Menyn tar upp hela höjden */
        background-color: var(--primary-color);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 9999;
        /* Så att menyn är överallt annat */
    }

    /* För att visa menyn när den är öppen */
    #nav-menu.open {
        display: flex;
    }

    /* Menylistan vertikal */
    #nav-menu ul {
        display: flex;
        flex-direction: column;
        gap: 1em;
        /* Avstånd mellan varje länk */
        padding: 0;
        list-style: none;
        text-align: center;
        margin-top: 7em;
    }

    /* Stil för länkarna i menyn */
    #nav-menu ul li a {
        color: white;
        font-size: 2em;
        font-weight: normal;
        text-decoration: none;
        transition: color 0.3s;
    }
}