header {
    background-color: var(--primary-color);
    position: relative;
    align-items: center;
    padding: 0.7em;
    display: flex;
    justify-content: space-between;

    h1 {
        color: var(--text-color);
    }
}

@media screen and (max-width: 350px) {
    header {
        min-height: 103px;

        h1 {
            font-size: 1.3em;
            align-items: center;
        }
    }
}