nav {
    ul {
        margin-right: 1.6em;
        font-size: 1.2em;
        display: flex;
        /* Gör listan horisontell */
    }

    li {
        margin-right: 1.6em;
    }

    a {
        color: var(--text-color);
        font-weight: bold;
        /* Gör texten fetare */
        padding: 5px 10px;
        /* Bättre klickvänlighet */
    }

    a:hover {
        background-color: var(--secondary-color);
        border-radius: 4px;
        /* Lägg till rundade hörn */
    }
}